<div class="terms-container p-4">
  <div class="logo-container">
    <img src="./assets/images/ti-order-point.png" alt="logo">
    <div class="pt-3">
      <img src="./assets/images/ti_order_logo.png" alt="Ti Order Point">
    </div>
  </div>
  <div class="terms-content">
    <h3>TERMS AND CONDITIONS</h3>
    <small>Please read these terms and conditions carefully before using this website.</small>
    <h3>
      Conditions of Use
    </h3>
    <p>
      Items may be placed on our picklist based on a group level assignment (selling team) and not on an indiviual level
      assignment (John Smith)
      <br/>
      <br/>
      It is my responsibility to make sure that I have completed all required training prior to ordering samples of
      presciption drugs or promotional items for those products.
      <br/>
      <br/>
      I am responsible for ensuring that my interactions and discussions with customers are consistent with GS Values,
      Police and Comercial Practices ad Procedures.
      <br/>
      <br/>
      I will only order materials for which I have completed all requiring training
    </p>
  </div>
  <div class="btn-group  p-4">
    <button type="button" class="btn btn-outline  btn-sm">Decline</button>
    <button type="button" class="btn btn-success  btn-sm">Accept</button>
  </div>
</div>
